/* TODO set colo scheme */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'tailwindcss/tailwind.css';



:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
}

Link {
    text-decoration: none;
}